* {
    margin: 0;
    padding: 0;
}

.section {
    position: absolute;
    background: blueviolet;
    width: 300px;
    // height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .container {
        width: 300px;
        height: 250px;
        background-size: inherit;
        background-image: url('../avengers_300x250_bg.jpg');
        color: white;
        position: relative;
        overflow: hidden;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
    // top
    .top {
        position: relative;
        z-index: 2;
        margin-top: 8px;

        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-around;
    }

    .social {
        padding-left: 12px;

        .social-icon {
            margin: 0 5px;

        }
    }

    p {
        font-family: Eras Demi ITC, sans-serif;
        font-weight: 600;
        margin: 0 5px;
        padding-right: 12px;
        background-image: linear-gradient(to bottom,#ffffff, #333333);
        -webkit-background-clip: text;
        color: transparent;
    }

    // mid
    .mid-iron {
        position: absolute;
        top: 0;
        right: 0;
    }

    .circle {
        background: rgba(255,255,255, 0.3);
        border-radius: 50%;
        position: absolute;
        left: 47%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        border: 5px solid rgba(255,255,255, 0.3);
        box-shadow: 0 0 10px white;
    }

    // bot
    .bot {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-around;

        position: absolute;
        bottom: -12px;
        left: -2.6rem;
    }
}
